<div class="login-main ">
  <div class="container">
    <div class="login-page">
      <div class="form">
        <form class="login-form" [formGroup]="passwordResetForm" (ngSubmit)="passwordReset()">
          <div class="login-logo">
            <a [routerLink]="['']">
              <img src="/assets/images/logo.png" alt="img">
            </a>
          </div>
          <p>Enter Your Email</p>
          <div class="alert alert-danger" *ngIf="authError">
            <strong>Error! </strong>{{authError}}
          </div>
          <div class="alert alert-success" *ngIf="authSuccess">
            <strong>Success! </strong>{{authSuccess}}
          </div>

          <div style="margin-bottom: 0px;" class="alert alert-danger" role="alert"
            *ngIf="passwordResetForm.get('email').touched && passwordResetForm.get('email').dirty && !passwordResetForm.get('email').valid">
            <span *ngIf="passwordResetForm.get('email').errors?.required">Email is
              required.</span>
            <span
              *ngIf="!passwordResetForm.get('email').valid && !passwordResetForm.get('email').errors?.required">Invalid
              email
              address.</span>

          </div>

          <input name="email" formControlName="email" type="email" placeholder="Email" class="">
          <button type="submit" [disabled]="!passwordResetForm.valid">
            <span *ngIf="showLoading">Send&nbsp;<i class="fa fa-spinner fa-spin"></i></span>
            <span *ngIf="!showLoading">Send</span>
          </button>
          <div>
            <p class="message pull-left"><a [routerLink]="['/auth/login']">Login</a></p>
            <p class="message pull-right"><a [routerLink]="['/']">Dashboard</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
