<div class="login-main">
  <div class="container">
    <div class="login-page" *ngIf="showResetForm">
      <div class="form">
        <form class="login-form" [formGroup]="resetPasswordForm" (ngSubmit)="updatePassword()">
          <div class="login-logo">
            <a [routerLink]="['/']"><img src="/assets/images/logo.png" alt="img"></a>
          </div>
          <p>Create your new password</p>
          <div class="alert alert-danger" *ngIf="authError">
            <strong>Error! </strong>{{authError}}
          </div>
          <p class="info text-left mt-20 mb-0">Password must contain 1 upper case character, 1 lower case character and
            1 digit.</p>
          <input formControlName="password" type="password" placeholder="Password" />
          <span style="color:red"
            *ngIf="!resetPasswordForm.get('password').valid && (resetPasswordForm.get('password').touched && resetPasswordForm.get('password').dirty)">
            <span
              *ngIf="resetPasswordForm.get('password').errors?.required && (resetPasswordForm.get('password').touched && resetPasswordForm.get('password').dirty)">Password
              is required</span>
            <span
              *ngIf="resetPasswordForm.get('password').errors?.minlength || resetPasswordForm.get('password').errors?.maxlength">Passwords
              must be between 6 and 20 characters.
            </span>
            <span *ngIf="resetPasswordForm.get('password').errors?.pattern">Password
              must contain 1 upper case character, 1 lower case character and 1 digit.</span>
          </span>
          <input id="confirmpassword" formControlName="confirmPassword" type="password" placeholder="Confirm Password" />
          <span style="color:red"
            *ngIf="(!resetPasswordForm.get('confirmPassword').valid  || resetPasswordForm.errors?.notMatched) && (resetPasswordForm.get('confirmPassword').touched && resetPasswordForm.get('confirmPassword').dirty)">
            <span *ngIf="resetPasswordForm.get('confirmPassword').errors?.required">Please
              confirm your password.</span>
            <span
              *ngIf="resetPasswordForm.errors?.notMatched && !resetPasswordForm.get('confirmPassword').errors?.required">Passwords
              do not
              match.</span>
          </span>
          <button type="submit" [disabled]="!resetPasswordForm.valid">Reset Password</button>
          <div>
            <p class="message pull-left"><a [routerLink]="['/auth/login']">Login</a></p>
          </div>
        </form>
      </div>
    </div>
    <div *ngIf="!showResetForm" class="login-page">
      <div class="thankyou-box">
        <div class="thankyou-dead">
          <img src="/assets/images/tick.png" alt="">
        </div>
        <div class="thankyou-text">
          <h1>You're all set! </h1>
          <p class="mb-0">{{authSuccess}}</p>
          <div class="navigation-links">
            <p class="message"><a [routerLink]="['/auth/login']">Login</a></p>
            <p class="message"><a [routerLink]="['/']">Dashboard</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
