$avenir-r: 'Avenir Next LT Pro';
$avenir-d: 'Avenir Next LT Pro Demi';
$avenir-l: 'Avenir Next LT Pro Thin Cond';
$avenir-s: "Avenir Next LT Pro Semi";
$avenir-m: "Avenir Next LT Pro Med";

$sig_b: "Copyright Klim Type Foundry Bold";
$sig_l: "Copyright Klim Type Foundry Light";
$sig_i: "Copyright Klim Type Foundry Italic";


/*M O N T S E R R A T  B E G*/
/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
$avenir-r: 'Montserrat', sans-serif;
$avenir-d: 'Montserrat', sans-serif;
$avenir-l: 'Montserrat', sans-serif;
$avenir-s: 'Montserrat', sans-serif;
$avenir-m: 'Montserrat', sans-serif;*/
/*M O N T S E R R A T  E N D*/

/*L A T O  S T A R T*/
/*@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
$avenir-r: 'Lato', sans-serif;
$avenir-d: 'Lato', sans-serif;
$avenir-l: 'Lato', sans-serif;
$avenir-s: 'Lato', sans-serif;
$avenir-m: 'Lato', sans-serif;*/
/*L A T O  E N D S .*/

/*N U N I T O  S T A R T */
/*@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap');
$avenir-r: 'Nunito', sans-serif;
$avenir-d: 'Nunito', sans-serif;
$avenir-l: 'Nunito', sans-serif;
$avenir-s: 'Nunito', sans-serif;
$avenir-m: 'Nunito', sans-serif;*/
/*N U N I T O  E N D S . */


$lightBlue: #42a2ba;
/*$darkBlue: #254E70;*/
$darkBlue: #3c6688;
$darkestBlue: #0F3554;
$black: #111;
$b3:#636466;
$bf:#636466;
$f7:#7f7f7f;
$black-light: #18191a;
$gray40: #626466;
$dark: #18191A;
$graynew : #626466;
$green : #3a7e7b;

$light-blue :#42a2ba;
$light-gray:rgb(179,179,179);
$gray:rgb(153,153,153);
$dark-gray:rgb(25,25,25);
$border_color: #E3E5E6;