$avenir-r: 'Avenir Next LT Pro';
$avenir-d: 'Avenir Next LT Pro Demi';
$avenir-l: 'Avenir Next LT Pro Thin Cond';
$avenir-s: "Avenir Next LT Pro Semi";
$avenir-m: "Avenir Next LT Pro Med";

$sig_b: "Copyright Klim Type Foundry Bold";
$sig_l: "Copyright Klim Type Foundry Light";
$sig_i: "Copyright Klim Type Foundry Italic";

$lightBlue: #42a2ba;
/*$darkBlue: #254E70;*/
$darkBlue: #3c6688;
$darkestBlue: #0F3554;
$black: #111;
$b3:#636466;
$bf:#636466;
$f7:#7f7f7f;
$black-light: #18191a;
$gray40: #626466;
$dark: #18191A;
$graynew : #626466;
$green : #3a7e7b;

$light-blue :#42a2ba;
$light-gray:rgb(179,179,179);
$gray:rgb(153,153,153);
$dark-gray:rgb(25,25,25);
$border_color: #E3E5E6;
