<header>
  <div class="header nav-down">
    <div class="top-navbar">
      <ul>
        <li>
          <a target="_blank" [routerLink]="'https://mailchi.mp/blavatnikarchive/new-collections-2524350'">View
            newsletter</a>
        </li>
        <li><a target="_blank"
            [routerLink]="'https://blavatnikarchive.us6.list-manage.com/subscribe?u=625334a65734387fe75fec224&id=f4e2532a9c'">Join
            mailing list</a></li>
      </ul>
      <ul>

        <li *ngIf="showLangBtn">
          <a class="russian enable">Russian</a>
        </li>
        <li>
          <a [routerLink]="'register'">Create account</a>
        </li>


        <li class="dropdown loginDropdown" dropdown [insideClick]="true">
          <a class="dropdown-toggle" dropdownToggle role="button" id="dropdownMenuLink" aria-controls="dropdown-basic">
            <span> Log in</span>
          </a>

          <div id="dropdown-basic" *dropdownMenu class="dropdown-menu login-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenuLink">
            <baf-login-form></baf-login-form>
          </div>
        </li>

        <li class="dropdown accountDropdown">
          <a class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <span> Account</span> <i class="fas fa-user-circle"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="nav-link"><span>Saved</span><span>folders</span></a>
            <a class="nav-link">My Profile</a>
            <a class="nav-link">Log out</a>
          </div>
        </li>

      </ul>
    </div>

    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" routerLink="">
        <img class="default-logo" src="assets/images/logo.png" alt="No Image">
        <img class="white-logo" src="assets/images/logo-white.png" alt="No Image">
      </a>
      <!--<a class="nav-link open-search-panel show-xs" [routerLink]="#"><i class="far fa-search"></i></a>-->
      <div class="header-phrases hide-sm">
        <form>
          <div class="input-group">
            <input value="" type="text" class="form-control searchField" placeholder="Enter search term"
              autocomplete="off" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <input type="hidden" id="selectedTab" name="st" value="">
            <div class="input-group-append">
              <button class="btn" type="button"><i class="fal fa-times"></i></button>
              <button class="btn btn-primary" type="submit"><i class="fal fa-search"></i></button>
            </div>
          </div>
        </form>
      </div>

      <a class="navbar-toggler search-link-sm">
        <!--<span class="navbar-toggler-icon"></span>-->
        <i class="far fa-search"></i>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
        aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <!--<span class="navbar-toggler-icon"></span>-->
        <i class="far fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarsExample04">
        <ul class="navbar-nav main-navbar navbar-expand-lg">

          <li class="nav-item" [routerLinkActive]="'active'"><a class="nav-link"
              [routerLink]="'collections'">Collections</a></li>


          <li class="nav-item" [routerLinkActive]="'active'"><a class="nav-link" [routerLink]="'stories'">Stories</a>
          </li>

          <li class="nav-item hide-lg header-items-link"><a class="nav-link"
              [routerLink]="'search/items?clear=clearall'">Items</a></li>
          <li class="nav-item hide-lg header-veterans-link"><a class="nav-link"
              [routerLink]="'search/people?clear=clearall'">Veterans</a></li>
          <li class="nav-item show-lg">
            <a class="nav-link" [routerLink]="'search/items?clear=clearall'">Items</a>
          </li>
          <li class="nav-item show-lg">
            <a class="nav-link" [routerLink]="'search/people?clear=clearall'">Veterans</a>
          </li>
          <!--Here-->


          <!--news & about dropdown for large screen-->
          <li class="nav-item dropdown default-menu browseDropdown announceDropdown hide-lg">
            <a class="nav-link dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="true"><i class="fal fa-bars"></i></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <ul>
                <li><a class="nav-link" [routerLink]="'about'">About</a></li>
                <li><a class="nav-link" [routerLink]="'contact'">Contact</a></li>
              </ul>
            </div>
          </li>
          <!--news & about dropdown for mobile screen-->
          <li class="nav-item show-lg">
            <a class="nav-link" [routerLink]="'news'">News</a>
          </li>
          <li class="nav-item show-lg">
            <a class="nav-link" [routerLink]="'about'">About</a>
          </li>
          <li class="nav-item show-lg">
            <a class="nav-link" [routerLink]="'contact'">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
