<div class="login-main">
  <div class="container">
    <div class="login-page">
      <div class="form">
        <form [formGroup]="loginForm" (ngSubmit)="authUserLogin()">
          <div class="login-logo">
            <a [routerLink]=""><img src="assets/images/logo.png" alt="img"></a>
          </div>
          <p>Login to your account</p>
          <div class="alert alert-danger" *ngIf="authError">
            <strong>Error! </strong>{{authError}}
          </div>
          <div class="alert alert-success" *ngIf="authSuccess">
            <strong>Success! </strong>{{authSuccess}}
          </div>
          <input autocomplete="off" required formControlName="email" type="text" placeholder="Username/Email" />
          <span [hidden]="!(loginForm.get('email').dirty && !loginForm.get('email').valid)">
            <span>Username is required.</span>
          </span>
          <input autocomplete="off" required formControlName="password" type="password" placeholder="Password" />
          <span [hidden]="!(loginForm.get('password').dirty && !loginForm.get('password').valid)">
            <span>Password is required.</span>
          </span>
          <button type="submit" [disabled]="!loginForm.valid">Login</button>
          <div>
            <p class="message pull-left">Not registered? <a [routerLink]="">Create an account</a></p>
            <p class="message pull-right"><a [routerLink]="">Forgot Password?</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
