.font-0-8em{font-size: 0.8em !important;}
.font-0-9em{font-size: 0.9em !important;}
.font-1em{font-size: 1em !important;}
.font-1-1em{font-size: 1.1em !important;}
.font-1-2em{font-size: 1.2em !important;}
.font-1-3em{font-size: 1.3em !important;}
.font-1-4em{font-size: 1.4em !important;}
.font-1-25em{font-size: 1.25em !important;}
.font-1-5em{font-size: 1.5em !important;}
.font-2em{font-size: 2em !important;}
.font-2-5em{font-size: 2.5em !important;}
.font-3em{font-size: 3em !important;}
.font-3-5em{font-size: 3.5em !important;}



p.font-1-4rem {
    font-size: 1.4rem;
    line-height: normal;
    max-width: 203px;
}


.blue{color:$darkBlue;}
.darkestBlue{color:$darkestBlue;}
.light-blue{color:$light-blue;}
.light-gray{color:$light-gray !important;}
.gray{color:$gray !important;}
.gray40{color:$gray40 !important;}
.dark-gray{color:$dark-gray;}
.black-light{color:$black-light !important;}
.bg-bf{background-color:$bf !important;}
.bg-b3{background-color:$b3 !important;}
.bf{color:$bf !important;}
.b3{color:#626466 !important;}
.f7{color:$f7 !important;}


.italic{font-style: italic !important;}
.font-avenir-xlight{font-family: $avenir-l}
.font-avenir-light{font-family: $avenir-r; font-weight: 300;}
.font-avenir-normal{font-family: $avenir-r !important; font-weight: 400 !important;}
.font-avenir-bold{font-family: $avenir-r !important; font-weight: 700 !important;}
.font-avenir-demi{font-family: $avenir-d; font-weight: normal;}
.font-avenir-semi{font-family: $avenir-s;}