<div class="login-main">
  <div class="container thankyou-container">
    <div class="login-page">
      <div class="thankyou-box">
        <div class="thankyou-dead" *ngIf="authSuccess">
          <img src="/assets/images/tick.png" alt="">
        </div>
        <div class="thankyou-dead" *ngIf="authError" style="background: red;"></div>
        <div class="thankyou-text">
          <h1 *ngIf="authSuccess">You're all set!</h1>
          <h1 *ngIf="authError" style="color: red;">Something went wrong!</h1>
          <p class="mb-0" *ngIf="authSuccess">{{authSuccess}}</p>
          <p class="mb-0" *ngIf="authError">{{authError}}</p>
          <div class="navigation-links">
            <p class="message"><a [routerLink]="['/auth/login']">Login</a></p>
            <p class="message"><a [routerLink]="['/']">Dashboard</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
